<aside class="modals ${!!viewState.currentModal ? 'active' : ''}" stylist="styleModals" b:click=${click => _host.closeModal(click)}>
  <article role=dialog bond=${el => viewState.ModalRef.alert = el} class="alert ${
      !!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.alert ) ? 'open' : '' 
    }">
    <form method=dialog>
      <fieldset>
        <legend>
          <h1>
            <img src="voodoo/assets/icons/octagon-alert.svg">
            警告
          </h1>
        </legend>
        <p class=message value=message>${viewState?.currentModal?.msg||'您收到了一条警告。'}</p>
        <p>
          <button type=reset class=ok title="好的，我知道了。" value=ok>知道了</button>
        </p>
      </fieldset>
    </form>
  </article>
  <article role=dialog bond=${el => viewState.ModalRef.confirm = el} class="confirm ${
      !!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.confirm ) ? 'open' : '' 
    }">
    <form method=dialog>
      <fieldset>
        <legend>
          <h1>
            <img src="voodoo/assets/icons/circle-help.svg">
            确认
          </h1>
        </legend>
        <p class=message value=message>${viewState?.currentModal?.msg||'您被要求确认'}</p>
        <p>
          <button type=reset class=cancel title="拒绝" value=cancel>否</button>
          <button type=submit class=ok title="确认" value=ok>是</button>
        </p>
      </fieldset>
    </form>
  </article>
  <article role=dialog bond=${el => viewState.ModalRef.prompt = el} class="prompt ${
      !!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.prompt ) ? 'open' : '' 
    }">
    <form method=dialog>
      <fieldset>
        <legend>
          <h1>
            <img src="voodoo/assets/icons/pencil.svg">
            提示
          </h1>
        </legend>
        <p class=message value=message><label for=prompt-response>${viewState?.currentModal?.msg||'请输入信息：'}</label></p>
        <p>
          <input id=prompt-response type=text name=response>
        </p>
        <p>
          <button type=reset class=cancel title="取消" value=cancel>取消</button>
          <button type=submit class=ok title="发送" value=ok>发送</button>
        </p>
      </fieldset>
    </form>
  </article>
  <article role=dialog bond=${el => viewState.ModalRef.paste = el} class="paste ${
      !!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.paste ) ? 'open' : '' 
    }">
    <form method=dialog>
      <fieldset>
        <legend>
          <h1>
            <img src="voodoo/assets/icons/clipboard.svg">
            粘贴到页面
          </h1>
        </legend>
        <p class=message value=message><label for=paste-response>${viewState?.currentModal?.msg||'输入要粘贴的信息'}</label></p>
        <p>
          <textarea id=paste-response name=response maxlen=32000 autofocus></textarea>
        </p>
        <p>
          <button type=reset class=cancel title="取消" value=cancel>取消</button>
          <button type=submit click=${click => _host.sendPaste(click, state)}>粘贴</button>
        </p>
      </fieldset>
    </form>
  </article>
  <article role=dialog bond=${el => viewState.ModalRef.beforeunload = el} class="beforeunload ${
      !!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.beforeunload ) ? 'open' : '' 
    }">
    <form method=dialog>
      <fieldset>
        <legend>
          <h1>
            <img src="voodoo/assets/icons/log-out.svg">
            重新加载网站？
          </h1>
          <i>
            您的更改可能未保存。页面卸载时询问
          </i>
        </legend>
        <p class=message value=message>${viewState?.currentModal?.msg||'您确定要离开吗？'}</p>
        <p>
          <button type=reset class=cancel title="停留" value=cancel>停留</button>
          <button type=submit class=ok title="离开" value=ok>离开</button>
        </p>
      </fieldset>
    </form>
  </article>
  <article role=dialog bond=${el => viewState.ModalRef.infobox = el} class="infobox ${
      !!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.infobox ) ? 'open' : '' 
    }">
    <form method=dialog>
      <fieldset>
        <legend>
          <h1>
            <img src="voodoo/assets/icons/info.svg">
            ${viewState?.currentModal?.title || '信息'}
          </h1>
        </legend>
        <p>
          <textarea readonly class=message value=message rows=${Math.ceil(viewState?.currentModal?.msg.length/25)+1}
          >${viewState?.currentModal?.msg}</textarea>
        </p>
        <p>
          <button type=submit class=ok title="知道了" value=ok>关闭</button>
        </p>
      </fieldset>
    </form>
  </article>
  <article role=dialog bond=${el => viewState.ModalRef.notice = el} class="notice ${
      !!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.notice ) ? 'open' : '' 
    }">
    <form method=dialog>
      <fieldset>
        <legend>
          <h1>
            <img src="voodoo/assets/icons/bell.svg">
            ${viewState?.currentModal?.title || '通知'}
          </h1>
        </legend>
        <p>
        <p class=message value=message>${viewState?.currentModal?.msg||'空通知'}</p>
        <p>
          ${viewState?.currentModal?.link ?
            G`<a title="${viewState?.currentModal?.link.title}" target=${viewState?.currentModal?.link.target} href=${viewState?.currentModal?.link.href}>${viewState?.currentModal?.link.title}</a>` 
            :
            G`<!-- link -->`
          }
          ${viewState?.currentModal?.otherButton ?
            (DEBUG.debugOtherButton && console.log('Have other button'), G`<button title="${viewState?.currentModal?.otherButton.title}" click=${viewState?.currentModal?.otherButton.onClick}>${viewState?.currentModal?.otherButton.title}</button>`)
            :
            (DEBUG.debugOtherButton  && console.log('No have other button'), G`<!-- other button -->`)
          }
          <button type=submit class=ok title=确认 value=ok>确定</button>
        </p>
      </fieldset>
    </form>
  </article>
  <article role=dialog bond=${el => viewState.ModalRef.copy = el} class="copy ${
      !!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.copy ) ? 'open' : '' 
    }">
    <form method=dialog>
      <fieldset>
        <legend>
          <h1>
            <img src="voodoo/assets/icons/bell.svg">
            <span onbond=${el => _host.copyBoxTitle = el} class=title>${state.title || '复制'}</span>
          </h1>
        </legend>
        <p>
        <textarea cols=80 rows=5 onbond=${(el) => {
            _host.copyBoxTextarea = el; 
          }} readonly class=message value=message>${viewState?.currentModal?.msg||'没有可复制的文本'}</textarea>
        <p>
          ${viewState?.currentModal?.link ?
            G`<a title="${viewState?.currentModal?.link.title}" target=${viewState?.currentModal?.link.target} href=${viewState?.currentModal?.link.href}>${viewState?.currentModal?.link.title}</a>` 
            :
            G`<!-- link -->`
          }
          ${viewState?.currentModal?.otherButton ?
            (DEBUG.debugOtherButton && console.log('Have other button'), G`<button title="${viewState?.currentModal?.otherButton.title}" click=${viewState?.currentModal?.otherButton.onClick}>${viewState?.currentModal?.otherButton.title}</button>`)
            :
            (DEBUG.debugOtherButton  && console.log('No have other button'), G`<!-- other button -->`)
          }
          <button type=submit class=ok title=确认 value=ok>确定</button>
        </p>
      </fieldset>
    </form>
  </article>
  <article role=dialog bond=${el => viewState.ModalRef.auth = el} class="auth ${
      !!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.auth ) ? 'open' : '' 
    }">
    <form method=dialog>
      <fieldset>
        <legend>
          <h1>
            <img src="voodoo/assets/icons/shield-alert.svg">
            ${title || '身份验证'}
          </h1>
          <i>${viewState?.currentModal?.msg||''}</i>
        </legend>
        <input type=hidden name=requestid value=${viewState?.currentModal?.requestId}>
        <p>
          <input type=text 
            autocomplete=username
            name=username placeholder=用户名 maxlength=140>
        <p>
          <input type=password 
            autocomplete=current-password
            name=password placeholder=密码 maxlength=140>
        <p>
          <button type=submit value=ok click=${click => _host.respondWithAuth(click, state)}>提交</button>
        </p>
      </fieldset>
    </form>
  </article>
  <article role=dialog bond=${el => viewState.ModalRef.filechooser = el} class="filechooser ${
      !!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.filechooser ) ? 'open' : '' 
    }">
    <form method=POST action=/file enctype=multipart/form-data>
      <fieldset>
        <legend>
          <h1>
            <img src="voodoo/assets/icons/folder-up.svg">
            ${viewState?.currentModal?.title || '文件上传'}
          </h1>
          <i>${viewState?.currentModal?.msg||''}</i>
        </legend>
        <input type=hidden name=sessionid value=${viewState?.currentModal?.sessionId}>
        <input type=hidden name=token value=${viewState?.currentModal?.token}>
        <p>
          <label>
            选择${viewState?.currentModal?.multiple?'一个或多个文件':'一个文件'}。
            <input type=file name=files ${viewState?.currentModal?.multiple?'multiple':''} accept="${viewState?.currentModal?.accept}">
          </label>
        <p>
          <button 
            type=reset
            value=cancel
            ${viewState?.currentModal?.working?'disabled':''} 
            click=${click => _host.cancelFileChooser(click)}
          >${viewState?.currentModal?.cancelText || '取消'}</button>
          <button 
            type=submit
            value=ok
            ${viewState?.currentModal?.working?'disabled':''} 
            click=${click => _host.chooseFile(click)}
          >${viewState?.currentModal?.submitText || '上传'}</button>
      </fieldset>
    </form>
  </article>
  <article role=dialog bond=${el => viewState.ModalRef.intentPrompt = el} class="intent-prompt ${
      !!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.intentPrompt ) ? 'open' : '' 
    }">
    <form method=GET action="${viewState?.currentModal?.url}" target=_top submit=${submission => {
        submission.preventDefault(); 
        const target = CONFIG.useBlankWindowForProtocolLaunch ? 
          globalThis.window.open("about:blank") 
          : 
          window.top
        ;
        const url = submission.target.action;
        DEBUG.debugIntentPrompts && console.log("intent prompt", {target, url});
        setTimeout(() => {
          window._voodoo_noUnloadDelay = true;
          target.location.href = url;
          setTimeout(() => window._voodoo_noUnloadDelay = false, 300);
          DEBUG.debugIntentPrompts && console.log(target.location);
        }, 300);
      }}>
      <fieldset>
        <legend>
          <h1>
            <img src="voodoo/assets/icons/external-link.svg">
            ${viewState?.currentModal?.title || '打开应用'}
          </h1>
        </legend>
        <p class=message value=message>${
          `此页面请求使用以下 URL 打开外部应用：${viewState?.currentModal?.url ? 
              viewState?.currentModal?.url?.slice?.(0,140) + (viewState?.currentModal?.url?.length > 140 ? '...' : '')
              : '未知 URL'
          }`
        }</p>
      <p>
        <button type=reset value=cancel>停止</button>
        <button type=submit value=ok>打开外部应用</button>
      </p>
    </form>
  </article>
  <article role=dialog bond=${el => viewState.ModalRef.settings = el} class="settings ${
      !!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.settings ) ? 'open' : '' 
    }">
    <form method=GET action="${viewState?.currentModal?.url}" target=_top submit=${submission => {
        submission.preventDefault(); 
        alert("保存设置");
      }}>
      <fieldset>
        <legend>
          <h1>
            <img src="voodoo/assets/icons/cog.svg">
            BrowserBox Pro 设置
          </h1>
        </legend>
      <p>
        <label>
          <span class=legend 
          >显示音频状态</span>
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </label>
      <p>
        <label>
          <span class=legend 
          >显示 WebRTC 状态</span>
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </label>
      <p>
        <button type=reset value=cancel click=${() => confirm("确定？")}>重置为默认值</button>
        <button type=submit value=ok>保存</button>
      </p>
    </form>
    ${!!viewState?.currentModal?.el && (viewState?.currentModal?.el === viewState.ModalRef.settings ) ? 
      Fskip(await uberFetch('/settings_modal').then(r => r.text())) : F`<!-- settings modal spot -->`
    }
  </article>
</aside>
